<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="debug">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %-5level [%t] [%C:%L] - %m%n}</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFile" fileName="${sys:LOG_PATH}Application.log" filePattern="${sys:LOG_PATH}Application-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %-5level [%t] [%C:%L] - %m%n}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>